
label.form-label {
  display: block;
  color: #6D737C;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Product Sans';
  margin: 0 0 6px 4px;
}

.darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 1800px;
  height: 900px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-medium {
  width: 1000px;
  height: 800px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-small {
  width: 450px;
  height: 170px;
  background: white;
  color: white;
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  /*font-size: 30px;*/
  color: #2c3e50;
  /* text-align: center; */
}

.modalContent-center {
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}

.submitBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  background: #38a169;
  /* background: #fcfcfc; */
  transition: all 0.25s ease;
}

.submitBtn:hover {
  box-shadow: none;
  transform: none;
  background: #276749;
}


.primaryBtn {
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 10px 22px;
  border-radius: 15px;
  font-size: 0.8rem;
  border: none;
  color: white;
  background: #185adb;
  transition: all 0.25s ease;
}

.primaryBtn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}
/**/
/* .wrapper{ */
/*   position: fixed; */
/*   top: 50%; */
/*   left: 50%; */
/*   transform: translate(-50%, -50%); */
/* } */
/**/
/* .link_wrapper{ */
/*   position: relative; */
/* } */
/**/
/* a{ */
/*   display: block; */
/*   width: 250px; */
/*   height: 50px; */
/*   line-height: 50px; */
/*   font-weight: bold; */
/*   text-decoration: none; */
/*   background: #333; */
/*   text-align: center; */
/*   color: #fff; */
/*   text-transform: uppercase; */
/*   letter-spacing: 1px; */
/*   border: 3px solid #333; */
/*   transition: all .35s; */
/* } */
/**/
/* .icon{ */
/*   width: 50px; */
/*   height: 50px; */
/*   border: 3px solid transparent; */
/*   position: absolute; */
/*   transform: rotate(45deg); */
/*   right: 0; */
/*   top: 0; */
/*   z-index: -1; */
/*   transition: all .35s; */
/* } */
/**/
/* .icon svg{ */
/*   width: 30px; */
/*   position: absolute; */
/*   top: calc(50% - 15px); */
/*   left: calc(50% - 15px); */
/*   transform: rotate(-45deg); */
/*   fill: #2ecc71; */
/*   transition: all .35s; */
/* } */
/**/
/* a:hover{ */
/*   width: 200px; */
/*   border: 3px solid #2ecc71; */
/*   background: transparent; */
/*   color: #2ecc71; */
/* } */
/**/
/* a:hover + .icon{ */
/*   border: 3px solid #2ecc71; */
/*   right: -25%; */
/* } */

/* CSS */
.button-23 {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  /* font-size: 16px; */
  /* font-weight: 600; */
  /* line-height: 20px; */
  margin: 0px;
  outline: none;
  /* padding: 13px 23px; */
  /* position: relative; */
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}


.center-hui {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 100%;
}

.center-image {
  text-align: center;
  display: block;

}

.another-center {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

html, body {
  height: 100%;
  margin: 0;
  text-overflow: ellipsis;
}

span, div, p, h1, h2, h3, h4, h5 {
  text-overflow: ellipsis;
  overflow: hidden;
}

#app {
  height: 100%;
}

.rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.2s linear;
}

.rotate.down{
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.rotate.down1{
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

   .truncate {
    /* background: #f4eddf; /* Цвет фона */
    /* padding: 10px; /* Поля вокруг текста */
    white-space: nowrap; /* Текст не переносится */
    overflow: hidden; /* Обрезаем всё за пределами блока */
    text-overflow: ellipsis; /* Добавляем многоточие */
   }


   .tooltip {
     display: inline-block;
     /* border-bottom: 1px dotted black; */
   }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 1200px;
  background-color: blue;
  /* color: #fff; */
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  /* left: 105%; */
  display: inline;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.hint { display: none; }
input:focus + .hint { display: inline; }

#app {
  background-color: #3371f5;

}



.client_views_events-190-20 .client_myclasses-5-3 {
  background-color: #ed7844 !important;
}

.client_views_tickets-297-20 .client_myclasses-5-3 {
  background-color: #ed7844 !important;
}

.client_mycomponents-13-18 {
  color: black !important;
}

.client_views_core-160-17 {
  background-color: #ed7844 !important;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
}

.client_views_core-78-19 {
  background-color: white;
  border-radius: 10px;
}

*, ::before, ::after {
  border-color: black !important;
}

.client_mycomponents-61-17 {
  background-color: #ed7844 !important;
  color: black !important;
}

.client_views_core-176-19 {
  width: 50% !important;
}

.client_views_core-34-19 {
  min-width: 40px;
  padding-right: 0 !important;
}

.client_views_tickets-297-20 {
  overflow: scroll;
  height: 780px;
}

.client_views_core-160-19 > div:nth-of-type(3) {
  overflow: scroll;
  height: 510px;
}

.client_views_tickets-297-20 > div > div:not(.darkBG) {
  min-height: 180px !important;
}
.client_views_tickets-297-20 > div:not(.darkBG) {
  height: 200px;
}

.client_myclasses-17-3 {
  max-height: 188px !important;
}
